@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400&display=swap');

:host {
  font-family: 'Barlow', sans-serif;
}

* {
  font-family: 'Barlow', sans-serif;
}

.animate-fade-up {
  animation: fadeUp 0.4s ease-out forwards;
}

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(16px); }
  to { opacity: 1; transform: translateY(0); }
}

.admin-sidebar {
  background: rgba(23, 23, 23, 0.5);
  backdrop-filter: blur(24px);
}

.nav-link {
  width: 256px;
  height: 44px;
  padding: 12px 32px;
  gap: 16px;
  display: flex;
  align-items: center;
  border-radius: 24px;
  color: rgba(255, 255, 255, 0.65);
   /* Space Grotesk specs */
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.7px;
  text-transform: uppercase;

  transition: background 300ms ease-in, color 300ms ease-in;
}

.nav-link:hover {
  background: rgba(255, 255, 255, 0.06);
  color: #ffffff;
}

.nav-link-active {
  background: #FE0707;
  color: #ffffff;
  /* border-right: 4px solid #DC2626; */
}

.nav-link-active svg {
  color: #ffffff;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(229, 57, 53, 0.3);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(229, 57, 53, 0.6);
}
