@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700;800;900&display=swap");

* { font-family: "Barlow", sans-serif; }

:host {
  display: block;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #1a1a1a inset;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
}
